* {
    background-color: rgb(228, 229, 236);
}

.navbar {
    margin: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(143, 166, 173);
    background-color: rgb(20, 36, 59);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    text-decoration: none; 
    background-color: rgb(20, 36, 59);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px; 
}

a:active {
    text-decoration: none; 
}

a:hover {

    color: rgb(248, 231, 219);
}


.user {
    margin-left: 30px;
    display:flex;
    align-items: center;
    font-family: monospace;
    font-size: 20px
}

.login, .register {
    font-size: 20px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    color:rgb(46, 50, 70)
}

button {
        font: 400 15px system-ui;
        background-color:rgb(143, 157, 204);
        color:aliceblue;
        border-color:rgb(0, 0, 0);
}

input {
    font: 400 15px system-ui;
    border-color: rgb(196, 203, 214);
    color: navy;
}

.Posts {
    font-family: 'Segoe UI';
    border-style: solid;
    border-width: 5px;
    border-color:rgb(108, 111, 124)
}

.newPost {
    font-family:'Segoe UI'
}